<!-- Template -->
<template>
    <div id="site-details" ref="site-details" :class="{desktop: !$store.state.context.mobile}">
        <div id="header">
            <div @click="goBack" id="back-section">
                <div id="back-arrow"></div>
            </div>
            <img v-show="bufferedSite" @error="onImageLoadFail($event)" ref='header-image-container' id="header-image-container" :style="{backgroundColor: backgroundColor}" :src="siteImage" :alt="(selectedSite ? selectedSite.id : 'none') + '-alt'">
                <div id="header-text-container">
                <p id="header-title"> {{ formatTitle }}</p>
                <p id="header-address"> {{ formatAddress }}</p>
                <p id="header-contact"> {{ formatContact }}</p>
            </div>
        </div>

        <transition @enter="enter" @leave="leave">
            <div id="image-container" v-show="bufferedSite">
                <img @error="onImageLoadFail($event)" v-for="(siteImage, i) in siteImages" :style="{ backgroundColor: backgroundColor, opacity: (1 - (((i) / siteImages.length) * 0.6) ) }" :key="i" class="image-element" :src="siteImage" >
            </div>
        </transition>

        <!-- <font-awesome-icon icon="user" /> -->
        <site-details-info :bufferedSite="bufferedSite" />

        <transition @enter="enter" @leave="leave">
            <div class="error-message" v-if="$store.state.scheduling.failedSpecificFetch && !bufferedSite"> Sorry. Could not fetch site (Does it exist?) </div> 
        </transition>

        <transition @enter="enter" @leave="leave">
            <div class="error-message" v-if="!$store.state.scheduling.failedSpecificFetch && !bufferedSite"> Fetching Site... </div> 
        </transition>
    </div>
</template>



<!-- Script -->
<script>
import { getRandomColor } from 'Tools/colors'
import defaultImage from 'Assets/images/default.png'
import TweenLite from 'gsap'
import siteDetailsInfo from 'Components/SiteDetailsInfo'
import { formatTitle, formatAddress, formatContact } from 'Tools/formatting/sites'

export default {
    props: [],
    components: { siteDetailsInfo },
    data: () => {
        return {
            defaultImage: defaultImage,
            backgroundColor: 'white',
            siteImage: '',
            bufferedSite: '',
        }
    },
    computed: {
        selectedSite () {
            return this.$store.getters['scheduling/getSiteToDisplay'] 
        },
        siteImages () {
            if(this.bufferedSite && this.bufferedSite.images && this.bufferedSite.images[0]) {
                return this.bufferedSite.images
            }
        },
        formatTitle () {
            return formatTitle(this.bufferedSite)
        },

        formatAddress () {
            return formatAddress(this.bufferedSite)
        },

        formatContact () {
            return formatContact(this.bufferedSite)
        },
    },

    watch: {
        selectedSite: {
            immediate: true,
            handler: function(newValue) {
                this.bufferedSite = newValue
                if(newValue) {
                    this.backgroundColor = newValue._color
                    this.siteImage = ''
                    if(newValue.images && newValue.images[0]) {
                        this.siteImage = newValue.images[0]
                    }

                    document.body.scrollTop = 0
                    if(document.documentElement) {
                        document.documentElement.scrollTop = 0
                    }
                }
            }
        },

        '$route': {
            immediate: true,
            handler: function(to, from) {
                if(to.matched[0].path === '/sites/:id') {
                    this.$store.dispatch('scheduling/fetchSingleSite', {id: to.params.id})
                }
            }
        }
    },

    methods: {
        goBack () {
            this.$store.dispatch('scheduling/deselectSite')
        },

        onImageLoadFail (event) {
            if(event.target.src != this.defaultImage && event.target.src !== '') {
                event.target.src = this.defaultImage
            }
        },

        enter (el, done) {
            TweenLite.fromTo(el, 0.45, {opacity: 0}, {opacity: 1, onComplete: () => { done() }})
        },

        leave (el, done) {
            TweenLite.fromTo(el, 0.45, {opacity: 1}, {opacity: 0, onComplete: () => { done() }})
        }
    }
}
</script>


<!-- Style -->
<style lang="scss" scoped>
    @import 'Styles/mixins.scss';
    @import 'Styles/globals.scss';

    #site-details {
        @include flex-element(0 0 auto);
        width: 100%;
        position: absolute;
        padding-top: 50px;
        padding-bottom: 30px;
        top: 0px;
        left: 0px;
        transition: height 0.4s;
        height: auto;
        background-color: white;
        @include flex(column, flex-start, center, nowrap);


        #header {
            width: 100%;
            height: 90px;
            z-index: 2;
            border-bottom: 1px solid $headerBorderColor;
            background-color: $headerBackgroundColor;
            -webkit-box-shadow: 0px 2px 11px 0px rgba(117,117,117,1);
            -moz-box-shadow: 0px 2px 11px 0px rgba(117,117,117,1);
            box-shadow: 0px 2px 11px 0px rgba(117,117,117,1);
            @include flex(row, flex-start, center, nowrap);

            #back-section {
                @include flex-element(0 0 auto);
                width: 50px;
                height: 100%;
                cursor: pointer;
                @include flex(row, center, center, nowrap);

                #back-arrow {
                    @include flex-element(0 0 auto);
                    height: 10px;
                    width: 10px;
                    background-color: transparent;
                    border-top: 2px solid white;
                    border-left: 2px solid white;
                    margin-left: 0px;
                    transform: rotate(-45deg);
                }
            }

            #header-image-container {
                @include flex-element(0 0 auto);
                height: 50px;
                width: 50px;
                border:1px solid $headerBorderColor;
                border-radius: 50%;
                overflow: hidden;
            }

            #header-text-container {
                @include flex-element(0 0 auto);
                width: 200px;
                height: 72px;
                margin-left: 15px;
                font-size: 14px;
                text-align: left;
                font-family: 'Open Sans', 'Roboto', sans-serif;
                overflow: hidden;
                @include flex(column, flex-start, flex-start, nowrap);

                #header-title {
                    font-weight: bold;
                    height: 22px;
                    overflow: hidden;
                    color: white;
                    margin-bottom: 2px;
                }

                #header-address {
                    font-size: 13.5px;
                    height: 27px;
                    line-height: 1em;
                    overflow: hidden;
                    color: #1e2020;
                }

                #header-contact {
                    margin-top: 1px;
                    font-size: 12px;
                    height: 18px;
                    overflow: hidden;
                    color: #1e2020;
                }
            }
            
        }

        #image-container {
            @include flex-element(0 0 auto);
            height: 210px;
            width: 100%;
            border-bottom: 1px solid $headerBorderColor;
            background-color: lightgray;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            @include flex(row, flex-start, center, nowrap);

            .image-element {
                @include flex-element(0 0 auto);
                height: 100%;
                min-width: 210px;
                width: auto;
                transition: transform 0.3s, opacity 0.3s;
            }

            .image-element:hover {
                opacity: 1 !important;
                transform: scale(1.02);
            }

            .image-element:nth-child(1) {
                margin-left: 105px;
            }
        }

        .error-message {
            padding-top: 20px;
            font-size: 14px;
            font-family: 'Open Sans', 'Roboto', sans-serif;
            color: #454747;
        }
    }

    #site-details.desktop {

        #header {
            height: 125px;
            
            #back-section {

                #back-arrow {
                    height: 12px;
                    width: 12px;
                    border-top: 3px solid white;
                    border-left: 3px solid white;
                }
            }

            #header-image-container {
                height: 80px;
                width: 80px;
            }

            #header-text-container {
                @include flex-element(0 0 auto);
                width: 450px;
                height: 100px;
                margin-left: 25px;
                font-size: 21px;
                text-align: left;
                font-family: 'Open Sans', 'Roboto', sans-serif;
                overflow: hidden;
                @include flex(column, flex-start, flex-start, nowrap);

                #header-title {
                    font-weight: bold;
                    height: 30px;
                    overflow: hidden;
                    color: white;
                    margin-bottom: 2px;
                }

                #header-address {
                    font-size: 17px;
                    height: 30px;
                    line-height: 1em;
                    overflow: hidden;
                    color: #1e2020;
                }

                #header-contact {
                    margin-top: 1px;
                    font-size: 16px;
                    height: 25px;
                    overflow: hidden;
                    color: #1e2020;
                }
            }
            
        }

        #image-container {
            @include flex-element(0 0 auto);
            height: 420px;
            width: 100%;
            border-bottom: 1px solid $headerBorderColor;
            background-color: lightgray;
            margin-bottom: 5px;
            margin-left: auto;
            margin-right: auto;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            @include flex(row, flex-start, center, nowrap);

            .image-element {
                @include flex-element(0 0 auto);
                height: 100%;
                min-width: 420px;
                width: auto;
                transition: transform 0.3s, opacity 0.3s;
            }

            .image-element:hover {
                opacity: 1 !important;
                transform: scale(1.02);
            }

            .image-element:nth-child(1) {
                margin-left: 210px;
            }

        }

        .error-message {
            padding-top: 30px;
            font-size: 30px;
        }
    }

</style>