<!-- Template -->
<template>
    <div id="site-list" :class="{desktop: !$store.state.context.mobile}">
        <div id="header">
            <p> Sites </p>
        </div>

        <site-list-filter />

        <transition-group mode="in-out" :style="{ height: calculateListHeight() }" ref="site-list-container" tag="div" class="site-list-container" @appear="listElementEnter" @enter="listElementEnter" @leave="listElementLeave">
            <site-list-element v-for="(site, i) in sites" :style="{ top: calculateListElementTop(i) }" :data-index="i" :key="site.id" :site="site" :isSelected="($store.state.route.params.id == site.id)"/>
        </transition-group>

        <div id="loading-icon-circle" :class="{ loading: loading }">
            <font-awesome-icon id="loading-icon" icon="redo" /> 
        </div>


        <div v-show="failedDownload" id="error-container">
            <div> Error Fetching Sites </div>
            <font-awesome-icon id="error-icon" icon="cloud-download-alt"/>
            <div @click="fetchRetry" id="error-retry"> Retry </div>
        </div>


        <div v-show="noMoreSites && !failedDownload && !loading" id="no-more-container">
            <div v-if="siteCount !== 0"> No more sites to load :( </div>
            <div v-else-if="siteCount === 0"> No results :( </div>
        </div>

        <div @click="loadMore" v-show="!noMoreSites && !failedDownload && !loading" id="load-more-container">
            Load More Sites
        </div>


    </div>
</template>



<!-- Script -->
<script>
import SiteListElement from 'Components/SiteListElement'
import SiteListFilter  from 'Components/SiteListFilter'

export default {
    components: { SiteListElement, SiteListFilter },
    data: () => {
        return {}
    },
    mounted() {
        this.$store.dispatch('sites/fetchSites')
    },
    computed: {
        sites () {
            return this.$store.state.scheduling.siteBucket
        },

        noMoreSites () {
            return this.$store.state.scheduling.siteBucket.length === this.$store.getters['scheduling/filteredSites'].length
        },

        siteCount () {
            return this.$store.getters['scheduling/filteredSites'].length
        },

        loading () {
            return !this.$store.state.sites.downloaded && !this.$store.state.sites.failedDownload
        },

        failedDownload () {
            return this.$store.state.sites.failedDownload
        },
    },
    methods: {
        listElementEnter (el, done) {
            let index = (el.dataset.index % 10)
            TweenLite.fromTo(el, 0.5 + (index * 0.07), { x: -250 - (index * 20), opacity: 0}, {x: 0, opacity: 1, onComplete: () => { done() }})
        },

        listElementLeave (el, done) {
            let index = (el.dataset.index % 10)
            TweenLite.fromTo(el, 0.35, { x: 0, opacity: 1}, {x: -250 - (index * 20), opacity: 0, onComplete: () => { done() }})
        },

        fetchRetry () {
            this.$store.dispatch('sites/fetchSites')
        },

        loadMore () {
            this.$store.dispatch('scheduling/expandSiteBucket')
        },

        calculateListHeight () {
            let heightValue = (this.$store.state.context.mobile ? 80 : 132)
            return (this.$store.state.context.mobile ? 0 : 25) + (this.sites.length * (heightValue)) + 'px'
        },

        calculateListElementTop (index) {
            let heightValue = (this.$store.state.context.mobile ? 80 : 132)
            return (this.$store.state.context.mobile ? 0 : 25) + ((index * heightValue)) + 'px'
        }
    }
}
</script>


<!-- Style -->
<style lang="scss" scoped>
    @import 'Styles/mixins.scss';
    @import 'Styles/globals.scss';

    @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
    @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
    @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
    

    #site-list {
        width:100%;
        padding-top: 50px;
        position: relative;
        min-height: 300px;
        height: auto;
        left: 0px;
        @include flex-element(0 0 auto);
        @include flex(column, flex-start, center, nowrap);


        #loading-icon-circle {
            @include flex-element(0 0 auto);
            margin-top: 10px;
            height: 36px;
            width: 36px;
            background-color: white;
            border: 1px solid $headerBorderColor;
            border-radius: 50%;
            -webkit-box-shadow: 0px 2px 7px 0px rgba(117,117,117,1);
            -moz-box-shadow: 0px 2px 7px 0px rgba(117,117,117,1);
            box-shadow: 0px 2px 7px 0px rgba(117,117,117,1);
            @include flex(column, center, center, nowrap);
            top: -40px;
            opacity: 0;
            transition: top 0.3s, opacity 0.3s;

            #loading-icon {
                height: 50%;
                width: auto;
                color: rgb(57, 84, 105);
                -webkit-animation:spin 1.24s linear infinite;
                -moz-animation:spin 1.24s linear infinite;
                animation:spin 1.24s linear infinite;

            }
        }

        #loading-icon-circle.loading {
            top: 0px;
            opacity: 1;
        }
        

        #header {
            width:100%;
            height: 49px;
            background-color: $headerBackgroundColor;
            border-bottom: 2px solid $headerBorderColor;
            @include flex(row, center, center, nowrap);

            p {
                height: 100%;
                font-family: 'Open Sans', 'Roboto', sans-serif;
                font-size: 20px;
                color: white;
                @include flex(row, center, center, nowrap);
            }
        }

        #error-container {
            font-size: 17px;
            font-family: 'Open Sans', 'Roboto', sans-serif;
            @include flex(column, flex-start, center, nowrap);

            #error-icon {
                padding-top:4px;
                font-size: 25px;
            }

            #error-retry {
                margin-top: 20px;
                font-size: 22px;
                font-weight: bold;
                text-decoration: underline;
                cursor: pointer;
                color: $headerBackgroundColor
            }
        }

        #no-more-container {
            font-size: 18px;
            padding-bottom: 50px;
            font-family: 'Open Sans', 'Roboto', sans-serif;
            @include flex(column, flex-start, center, nowrap);
        }

        #load-more-container {
            font-size: 17px;
            width: 25%;
            min-width: 150px;
            text-align: center;
            height: 40px;
            margin-bottom: 50px;
            background-color: white;
            color: #333;
            border: 1px solid $headerBorderColor;
            -webkit-box-shadow: 0px 2px 7px 0px rgba(117,117,117,1);
            -moz-box-shadow: 0px 2px 7px 0px rgba(117,117,117,1);
            box-shadow: 0px 2px 7px 0px rgba(117,117,117,1);
            font-family: 'Open Sans', 'Roboto', sans-serif;
            cursor: pointer;
            @include flex(column, center, center, nowrap);
        }

        .site-list-container {
            width: 100%;
            height: auto;
            overflow: auto;
            overflow-x: hidden;
            position: relative;
            -webkit-overflow-scrolling: touch;
            transition: transform 1s;
            @include flex(column, flex-start, center, nowrap);
        }
    }

    #site-list.desktop {
        #header {
            height: 60px;
            @include flex(row, left, center, nowrap);

            p {
                height: 100%;
                font-family: 'Open Sans', 'Roboto', sans-serif;
                font-size: 28px;
                color: white;
                margin-left: 25px;
                @include flex(row, flex-start, center, nowrap);
            }
        }

        .site-list-container {
            background-color: #dae0e6;
        }

    
    }

</style>
