* {
    margin: 0px;
    padding: 0px;
}

// * Optional Border Box * //
// html {
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     -ms-box-sizing: border-box;
// }

// *, *:before, *:after {
//     box-sizing: inherit;
//     -moz-box-sizing: inherit;
//     -webkit-box-sizing: inherit;
//     -ms-box-sizing: inherit;
//     margin: 0px;
//     padding: 0px;
// }