<!-- Template -->
<template>
    <div>
        <header-bar />
        <transition @leave="leave" @enter="enter">
            <keep-alive>
                <router-view />
            </keep-alive>
        </transition>
    </div>
</template>



<!-- Script -->
<script>
import TweenLite from 'gsap'
import headerBar from 'Components/HeaderBar'
import context from 'Tools/context'

export default {
    data: () => {
        return {
            initialEnter: true,
            to: '',
            from: '',
            lastScrollHeight: 0,
        }
    },
    components: { headerBar },
    created() {
        console.log('App component created successfully!')
    },
    watch: {
        '$route' (to, from) {
            this.to = to
            this.from = from
        }
    },
    methods: {
        enter(el, done) {
            if(this.to && this.from) {
                if(this.to.matched[0].path === '/sites/:id' && this.from.matched[0].path === '') {
                    this.lastScrollHeight = context.getScrollTop()

                    if(this.initialEnter) {
                        TweenLite.set(el, {x: '100%'})
                        this.initialEnter = false
                        TweenLite.set(el, {y: this.lastScrollHeight + 'px' })
                    }
                    
                    // TweenLite.set(el, {y: this.lastScrollHeight + 'px' })
                    TweenLite.to(el, 0.35, { x: '0%', 
                        onComplete: () => { 
                            TweenLite.set(el, {y: '0px'})
                            document.body.scrollTop = 0
                            if(document.documentElement) {
                                document.documentElement.scrollTop = 0
                            }
                            done(); 
                        }
                    })
                    return
                } else if(this.to.matched[0].path === '' && this.from.matched[0].path === '/sites/:id') {
                   if(this.initialEnter) {
                        TweenLite.set(el, {x: '-100%'})
                        this.initialEnter = false
                    }
                    TweenLite.to(el, 0.35, { x: '0%', 
                        onComplete: () => { 
                            done() 
                            let tweenObject = {y: 0}
                            TweenLite.to(tweenObject, 0.25, {y: this.lastScrollHeight, onUpdate: () => {
                                document.body.scrollTop = tweenObject.y
                                if(document.documentElement) {
                                    document.documentElement.scrollTop = tweenObject.y
                                }
                            }})
                        }
                    })
                    return
                } 
            }

            // Default Route Transition
            TweenLite.fromTo(el, 0.2, {opacity: 0}, {opacity: 1, onComplete: () => {
                done()
            }})
            
        },

        leave(el, done) {
            if(this.to && this.from) {
                if(this.to.matched[0].path === '/sites/:id' && this.from.matched[0].path === '') {
                    TweenLite.to(el, 0.35, { x: '-100%', onComplete: () => { done() }})
                    return
                } else if(this.to.matched[0].path === '' && this.from.matched[0].path === '/sites/:id') {
                    TweenLite.to(el, 0.35, { x: '100%', 
                        onComplete: () => { 
                            done() 
                        }
                    })
                    return
                } 
            }


            // Default Route Transition
            TweenLite.to(el, 0.1, {opacity: 0, onComplete: () => {
                done()
            }})
        }
    }
}
</script>


<!-- Style -->
<style lang="scss" scoped>
    @import 'Styles/globals.scss';
    @import 'Styles/mixins.scss';

    #root {
        @include flex(column, flex-start, center, nowrap);
    }
</style>
