<!-- Template -->
<template>
    <div id="header" :class="{ shadow: showScrollShadow, desktop: !$store.state.context.mobile }">
        <p> Scheduling </p>
        <div id="icon-container">
            <font-awesome-icon id="icon" icon="bars"/> 
        </div>
    </div>
</template>



<!-- Script -->
<script>
import context from 'Tools/context'

export default {
    data: () => {
        return {
            showScrollShadow: false,
        }
    },

    mounted() {
        window.addEventListener('scroll', this.handleScroll)
    },
    beforeDestroy() {
        window.removeEventListener('scroll', this.handleScroll)
    },
    methods: {
        handleScroll() {
            let height = context.getScrollTop()
            if(height > 80) {
                this.showScrollShadow = true
            } else {
                this.showScrollShadow = false
            }
        }
    }
}
</script>


<!-- Style -->
<style lang="scss" scoped>
    @import 'Styles/mixins.scss';
    @import 'Styles/globals.scss';

    $headerBackgroundColor: #2A78E5;
    $headerBorderColor: #303232;

    #header {
        width:100%;
        height: 50px;
        z-index: 3;
        background-color: $headerBackgroundColor;
        border-bottom: 1px solid $headerBorderColor;
        transform: translateZ(0);
        @include flex(row, center, center, nowrap);
        position: fixed;
        top: 0px;
        left: 0px;

        p {
            font-family: 'Open Sans', 'Roboto', sans-serif;
            font-size: 21px;
            color: white;
        }

        #icon-container {
            position: absolute;
            left: 5px;
            top: 0px;
            height: 100%;
            width: 50px;
            @include flex(row, center, center, nowrap);


            #icon {
                height: 50%;
                width: auto;
            }
        }
    }

    #header.desktop {
        @include flex(row, flex-start, center, nowrap);

        p {
            margin-left: 60px;
            font-family: 'Open Sans', 'Roboto', sans-serif;
            font-size: 26px;
            color: white;
        }
    }

    #header.shadow {
        -webkit-box-shadow: 0px 2px 11px 0px rgba(117,117,117,1);
        -moz-box-shadow: 0px 2px 11px 0px rgba(117,117,117,1);
        box-shadow: 0px 2px 11px 0px rgba(117,117,117,1);
    }

</style>
