<!-- Template -->
<template>
    <div id="site-details-info" :class="{desktop: !$store.state.context.mobile}">
        <transition @enter="enter" @leave="leave">
            <div id="details-box-contact" v-show="bufferedSite" class="details-box">
                <div class="details-icon-wrapper">
                    <font-awesome-icon class="details-icon" icon="user" />
                </div>
                <div class="details-text-container">
                    <p class="details-text"> {{ detailsBoxContact }} </p>
                    <p class="details-sub-text"> {{ detailsBoxTitle }} </p>
                </div>
            </div>
        </transition>

        <transition @enter="enter" @leave="leave">
            <div @click="phoneClick" id="details-box-phone" v-show="bufferedSite" class="details-box">
                <div class="details-icon-wrapper">
                    <font-awesome-icon class="details-icon" icon="phone" />
                </div>
                <div class="details-text-container">
                <p class="details-text"> {{ detailsBoxPhone }} </p>
                </div>
            </div>
        </transition>

        <transition @enter="enter" @leave="leave">
            <div @click="emailClick" id="details-box-email" v-show="bufferedSite" class="details-box">
                <div class="details-icon-wrapper">
                    <font-awesome-icon class="details-icon" icon="envelope" />
                </div>
                <div class="details-text-container">
                <p class="details-text"> {{ detailsBoxEmail }} </p>
                </div>
            </div>
        </transition>

        <transition @enter="enter" @leave="leave">
            <div @click="addressClick" id="details-box-map" v-show="bufferedSite" class="details-box">
                <div class="details-icon-wrapper">
                    <font-awesome-icon class="details-icon" icon="map-marker-alt" />
                </div>
                <div class="details-text-container">
                <p class="details-text"> {{ detailsBoxAddressStreet }} </p>
                <p class="details-text details-text-added"> {{ detailsBoxAddressCity }} </p>
                <p class="details-text details-text-added"> {{ detailsBoxAddressZipCode }} </p>
                <p class="details-text details-text-added"> {{ detailsBoxAddressState }} </p>
                <p class="details-text details-text-added"> {{ detailsBoxAddressCountry }} </p>
                </div>
            </div>
        </transition>
    </div>
</template>



<!-- Script -->
<script>
import { formatDetailsContact, formatDetailsTitle, formatDetailsPhone, formatDetailsEmail, formatDetailsAddressStreet, formatDetailsAddressCity, formatDetailsAddressZipCode, formatDetailsAddressState, formatDetailsAddressCountry } from 'Tools/formatting/sites'
import TweenLite from 'gsap'

export default {
    props: ['bufferedSite'],
    components: {},
    data: () => {
        return {
           
        }
    },
    computed: {
        detailsBoxContact () {
            return formatDetailsContact(this.bufferedSite)
        },

        detailsBoxTitle () {
            return formatDetailsTitle(this.bufferedSite)
        },

        detailsBoxPhone () {
            return formatDetailsPhone(this.bufferedSite)
        },

        detailsBoxEmail () {
            return formatDetailsEmail(this.bufferedSite)
        },

        detailsBoxAddressStreet () {
            return formatDetailsAddressStreet(this.bufferedSite)
        },

        detailsBoxAddressCity () {
            return formatDetailsAddressCity(this.bufferedSite)
        },

        detailsBoxAddressZipCode () {
            return formatDetailsAddressZipCode(this.bufferedSite)
        },

        detailsBoxAddressState () {
            return formatDetailsAddressState(this.bufferedSite)
        },

        detailsBoxAddressCountry () {
            return formatDetailsAddressCountry(this.bufferedSite)
        },
    },

    methods: {
        phoneClick () {
            if(this.bufferedSite && this.bufferedSite.contacts && this.bufferedSite.contacts.main && this.bufferedSite.contacts.main.phoneNumber) {
                window.location.href = `tel:${this.bufferedSite.contacts.main.phoneNumber}` 
            }
        },

        emailClick () {
            if(this.bufferedSite && this.bufferedSite.contacts && this.bufferedSite.contacts.main && this.bufferedSite.contacts.main.email) {
                window.location.href = `mailto:${this.bufferedSite.contacts.main.email}` 
            }
        },

        addressClick () {
             if(this.bufferedSite && this.bufferedSite.address && this.bufferedSite.address.street && this.bufferedSite.address.city) {
                window.open(`https://maps.google.com/?q=${this.bufferedSite.address.street}, ${this.bufferedSite.address.city}`, '_blank') 
            }
        },

        enter (el, done) {
            TweenLite.fromTo(el, 0.45, {opacity: 0}, {opacity: 1, onComplete: () => { done() }})
        },

        leave (el, done) {
            TweenLite.fromTo(el, 0.45, {opacity: 1}, {opacity: 0, onComplete: () => { done() }})
        }
    }
}
</script>


<!-- Style -->
<style lang="scss" scoped>
    @import 'Styles/mixins.scss';
    @import 'Styles/globals.scss';

    #site-details-info {
        width: 100%;

        .details-box {
            @include flex-element(0 0 auto);
            width: 100%;
            height: auto;
            overflow: hidden;
            transition: height 0.25s;
            cursor: pointer;
            @include flex(row, flex-start, flex-start, nowrap);


            .details-icon-wrapper {
                @include flex-element(0 0 auto);
                padding-top: 4px;
                min-height: 50px;
                height: 50px;
                width: 20%;
                overflow: hidden;
                @include flex(row, center, center, nowrap);

                .details-icon {
                    @include flex-element(0 0 auto);
                    height: 45%;
                    width: auto;
                    @include flex(row, center, center, nowrap);
                }
            }

            .details-text-container {
                @include flex-element(0 0 auto);
                width: 70%;
                height: auto;
                @include flex(column, flex-start, flex-start, nowrap);

                .details-text {
                    @include flex-element(0 0 auto);
                    // margin-top: 2px;
                    width: 100%;
                    padding-top: 19px;
                    font-family: 'Open Sans', 'Roboto', sans-serif;
                    font-size: 12.5px;
                    color: #454747;
                    font-weight: bold;
                    text-align: left;
                    @include flex(row, flex-start, flex-start, nowrap);
                }

                .details-text-added {
                    padding-top: 3px;
                }

                .details-sub-text {
                    @include flex-element(0 0 auto);
                    // margin-top: 2px;
                    padding-bottom: 5px;
                    width: 100%;
                    padding-top: 15px;
                    font-family: 'Open Sans', 'Roboto', sans-serif;
                    font-size: 11.5px;
                    color: #646868;
                    text-align: left;
                    @include flex(row, flex-start, flex-start, nowrap);
                }
            }
        }
    }

    #site-details-info.desktop {
        .details-box {
            .details-icon-wrapper {
                padding-top: 7px;
                min-height: 70px;
                height: 70px;
                width: 15%;

                .details-icon {
                    height: 55%;
                }
            }

            .details-text-container {
                width: 70%;

                .details-text {
                    font-size: 17.5px;
                }

                .details-text-added {
                    padding-top: 3px;
                }

                .details-sub-text {
                    font-size: 16px;
                }
            }
        }
    }

</style>