<!-- Template -->
<template>
    <div id="filter-bar-container" :class="{desktop: !$store.state.context.mobile}">
        <div id="filter-bar">
            <select v-model="tagFilter" ref="filter-tag" id="filter-tag"> 
                <option v-for="tagOption in tagOptions" :key="tagOption.text" :value="tagOption.value"> {{ tagOption.text }} </option>
            </select>
            <div id="filter-tag-icon"></div>

            <select v-model="sortFilter" ref="filter-sort" id="filter-sort"> 
                <option v-for="sortOption in sortOptions" :key="sortOption.text" :value="sortOption.value"> {{ sortOption.text }} </option>
            </select>
            <div id="filter-sort-icon">
                <font-awesome-icon icon="sort-amount-down" />
            </div>

            <div @click="toggleSearch" id="filter-search-icon">
                <font-awesome-icon icon="search" />
            </div>
        </div>
        <div id="filter-search-bar" :class="{ 'search-activated': searchActivated }">
            <input @input="searchBoxChange" ref="filter-search-box" id="filter-search-box" type="text" placeholder="Search">
        </div>
    </div>
</template>


<!-- Script -->
<script>
import _debounce from 'lodash.debounce'
import _trim from 'lodash.trim'

export default {
    components: {},
    data: () => {
        return {
            tagFilter: '',
            tagOptions: [
                {value: '', text:'All Sites'},
                {value: 'old', text:'Old Sites'},
                {value: 'company', text:'Company Sites'},
                {value: 'individual', text:'Individual Sites'},
                {value: 'state', text:'State Sites'},
                {value: 'renovated', text:'Renovated Sites'}
            ],

            sortFilter: '',
            sortOptions: [
                {value: '', text:''},
                {value: 'created_desc', text:'Recently Created'},
                {value: 'created_asc', text:'Oldest Created'},
                {value: 'updated_desc', text:'Recently Updated'},
                {value: 'updated_asc', text:'Oldest Updated'},
                {value: 'alpha_desc', text:'Alphabetical A-Z'},
                {value: 'alpha_asc', text:'Alphabetical Z-A'},
            ],

            searchFilter: '',
            searchActivated: false,
        }
    },
    watch: {
        tagFilter (newValue, oldValue) {
            this.$store.dispatch('scheduling/setSiteBucketFilters', { tag: newValue })
        },

        sortFilter (newValue, oldValue) {
            this.$store.dispatch('scheduling/setSiteBucketFilters', { sort: newValue })
        },

        searchFilter (newValue, oldValue) {
            this.$store.dispatch('scheduling/setSiteBucketFilters', { search: newValue })
        }
    },
    methods: {
        toggleSearch () {
            this.searchActivated = !this.searchActivated
            if(this.searchActivated) {
                if(this.$refs['filter-search-box']) {
                    this.$refs['filter-search-box'].focus()
                }
            } else {
                if(this.$refs['filter-search-box']) {
                    this.$refs['filter-search-box'].value = ''
                    this.searchFilter = ''
                }
            }
        },

        searchBoxChange: _debounce(function(e) {
            this.searchFilter = _trim(e.target.value || '')
        }, 250)
    }
}
</script>


<!-- Style -->
<style lang="scss" scoped>
    @import 'Styles/mixins.scss';
    @import 'Styles/globals.scss';

    #filter-bar-container {
        @include flex-element(0 0 auto);
        @include flex(column, flex-start, center, nowrap);
        z-index: 1;
        width: 100%;
        height: auto;
        font-family: 'Open Sans', 'Roboto', sans-serif;
        -webkit-box-shadow: 0px 2px 11px 0px rgba(117,117,117,1);
        -moz-box-shadow: 0px 2px 11px 0px rgba(117,117,117,1);
        box-shadow: 0px 2px 11px 0px rgba(117,117,117,1);
    }

    #filter-bar {
        @include flex-element(0 0 auto);
        position: relative;
        height: 28px;
        z-index: 1;
        width: 100%;
        background-color: white;
        overflow-x: hidden;
        transition: height 0.35s;
        @include flex(row, flex-start, center, nowrap);

        #filter-tag {
            z-index: 2;
            height: 100%;
            width: 40%;
            margin: 0px;
            margin-left: 5%;
            padding: 0px;
            color: $headerBorderColor;
            background-color: transparent;
            border: 0px solid black;
            border: 0 !important;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        #filter-tag:focus {
            outline: none;
        }

        #filter-tag-icon {
            position: relative;
            z-index: 1;
            left: -16px;
            top: 3px;
            height:0px;
            width:0px;
            border: 5px solid transparent;
            border-top-color: $headerBorderColor;
        }

        #filter-sort {
            z-index: 2;
            height: 100%;
            width: 40%;
            margin: 0px;
            margin-left: 3%;
            padding: 0px;
            color: $headerBorderColor;
            background-color: transparent;
            border: 0px solid black;
            border: 0 !important;
            -webkit-appearance: none;
            -moz-appearance: none;
        }

        #filter-sort:focus {
            outline: none;
        }

        #filter-sort-icon {
            position: relative;
            z-index: 1;
            left: -16px;
            height: 50%;
            width: auto;
            @include flex(row, center, center, nowrap);
        }

        #filter-search-icon {
            position: absolute;
            right: 2%;
            top: 0px;
            z-index: 1;
            height: 100%;
            width: 5%;
            width: auto;
            @include flex(row, center, center, nowrap);
        }
    }

    #filter-search-bar {
        @include flex-element(0 0 auto);
        position: relative;
        height: 0px;
        z-index: 1;
        width: 100%;
        background-color: white;
        // border-top: 1px solid rgb(150, 150, 150);
        border-bottom: 1px solid $headerBorderColor;
        overflow: hidden;
        transition: height 0.25s;
        @include flex(row, flex-end, center, nowrap);

        #filter-search-box {
            margin-right: 2%;
            position: relative;
            top: -20px;
            width: 50%;
            padding-left: 4px;
            border: 1px solid #777;
            height: 0px;
            opacity: 0;
            background-color: rgb(248, 248, 248);
            font-size: 16px;
            letter-spacing: 0.04em;
            font-family: 'Open Sans', 'Roboto', sans-serif;
            color: $headerBorderColor;
            transition: height 0.3s, opacity 0.3s, top 0.3s;
        }
    }

    #filter-search-bar.search-activated {
        height: 35px;
        
        #filter-search-box {
            top: 0px;
            opacity: 1;
            height: 25px;
        }
    }


    #filter-bar-container.desktop {

        #filter-bar {
            height: 60px;
            

            #filter-tag {
                width: 25%;
                margin-left: 2%;
                font-size: 25px;
                min-width: 225px;
            }

            
            #filter-sort {
                width: 25%;
                margin-left: 40%;
                font-size: 25px;
                min-width:225px;
            }

            #filter-sort-icon {
                font-size: 24px;
            }

            #filter-search-icon {
                font-size: 24px;
            }
        }

        #filter-search-bar {
            

            #filter-search-box {
                margin-right: 0.5%;
                font-size: 21.5px;
            }
        }

        #filter-search-bar.search-activated {
            height: 40px;
            
            #filter-search-box {
                top: 0px;
                opacity: 1;
                height: 32px;
            }
        }
    }

</style>
