<!-- Template -->
<template>
    <div id="site-element" @click="goToSite(site)" :class="{desktop: !$store.state.context.mobile}">
        <transition @appear="selectedBarEnter" @enter="selectedBarEnter" @leave="selectedBarLeave">
            <div v-show="isSelected" id="selected-bar"> </div>
        </transition>
        <img @error="onImageLoadFail($event)" ref="image-container" id="image-container" :style="{ backgroundColor: site._color}" :src="siteImage" :alt="site.id + '-alt'">
        <div id="text-container">
            <p id="title"> {{ formatTitle }}</p>
            <p id="address"> {{ formatAddress }}</p>
            <p id="contact"> {{ formatContact }}</p>
        </div>
        <div id="arrow"></div>
    </div>
</template>



<!-- Script -->
<script>
import { getRandomColor } from 'Tools/colors'
import defaultImage from 'Assets/images/default.png'
import { formatTitle, formatAddress, formatContact } from 'Tools/formatting/sites'

export default {
    props: [ 'site', 'isSelected' ],
    components: {},
    data: () => {
        return {
            defaultImage: defaultImage
        }
    },
    computed: {
        formatTitle () {
            return formatTitle(this.site)
        },

        formatAddress () {
            return formatAddress(this.site)
        },

        formatContact () {
            return formatContact(this.site)
        },

        siteImage () {
            if(this.site.images && this.site.images[0]) {
                return this.site.images[0]
            }
        }
    },
    methods: {
        goToSite (site) {
            this.$store.dispatch('scheduling/selectSite', { id: site.id })
        },

        selectedBarEnter (el, done) {
            TweenLite.to(el, 0.15, { opacity: 0.85, width: 15 , onComplete: () => { done() }})
        },

        selectedBarLeave (el, done) {
            TweenLite.to(el, 2.25, { ease: Elastic, opacity: 0 , width: 0, onComplete: () => { done() }})
        },

        onImageLoadFail (event) {
            if(event.target.src === '') return;

            if(event.target.src != this.defaultImage) {
                event.target.src = this.defaultImage
            } else {
                event.target.src = ''
            }
        }
    }
}
</script>


<!-- Style -->
<style lang="scss" scoped>
    @import 'Styles/mixins.scss';

    $headerBackgroundColor: rgb(42, 120, 229);
    $headerBorderColor: #303232;

    #site-element {
        width:100%;
        height: 79px;
        background-color: #fff;
        border-bottom: 1px solid $headerBorderColor;
        position: absolute;
        left: 0px;
        top: 0px;
        transition: top 0.35s;
        cursor: pointer;
        @include flex(row, flex-start, center, nowrap);
        @include flex-element(0 0 auto);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
        // -webkit-tap-highlight-color: transparent;

        #selected-bar {
            position: absolute;
            opacity: 0;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 3px;
            background-color: rgba(42, 120, 229, 0.92);
        }

        #image-container {
            @include flex-element(0 0 auto);
            height: 50px;
            width: 50px;
            margin-left:15px;
            border:1px solid $headerBorderColor;
            border-radius: 50%;
        }

        #text-container {
            @include flex-element(0 0 auto);
            width: 200px;
            height: 68px;
            margin-left: 15px;
            font-size: 14px;
            text-align: left;
            font-family: 'Open Sans', 'Roboto', sans-serif;
            overflow: hidden;
            @include flex(column, flex-start, flex-start, nowrap);

            #title {
                font-weight: bold;
                height: 22px;
                overflow: hidden;
            }

            #address {
                font-size: 13.5px;
                height: 27px;
                line-height: 1em;
                overflow: hidden;
            }

            #contact {
                margin-top: 1px;
                font-size: 12px;
                height: 18px;
                overflow: hidden;
            }
        }

        #arrow {
            height: 8px;
            width: 8px;
            background-color: transparent;
            border-top: 2px solid $headerBorderColor;
            border-right: 2px solid $headerBorderColor;
            margin-left: auto;
            margin-right: 25px;
            transform: rotate(45deg);
        }


    }

    #site-element.desktop {
        width: 70%;
        margin-left: 15%;
        min-width: 575px;
        -webkit-box-shadow: 0px 2px 7px 0px rgba(117,117,117,1);
        -moz-box-shadow: 0px 2px 7px 0px rgba(117,117,117,1);
        box-shadow: 0px 2px 7px 0px rgba(117,117,117,1);
        height: 130px;
        background-color: #fff;
        border: 1px solid #999;
        position: absolute;
        left: 0px;
        overflow: hidden;
        top: 0px;
        transition: top 0.35s;
        cursor: pointer;
        @include flex(row, flex-start, center, nowrap);
        @include flex-element(0 0 auto);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);

        #image-container {
            @include flex-element(0 0 auto);
            height: 130px;
            width: 130px;
            margin-left:0px;
            -webkit-box-shadow: 4px 0px 5px 0px rgba(117,117,117,1);
            -moz-box-shadow: 4px 0px 5px 0px rgba(117,117,117,1);
            box-shadow: 4px 0px 5px 0px rgba(117,117,117,1);
            border: 0px solid $headerBorderColor;
            border-right: 1px solid #999;
            border-radius: 2px;
        }

        #text-container {
            @include flex-element(0 0 auto);
            width: 400px;
            height: 115px;
            margin-left: 20px;
            font-size: 26px;
            text-align: left;
            font-family: 'Open Sans', 'Roboto', sans-serif;
            overflow: hidden;
            @include flex(column, flex-start, flex-start, nowrap);

            #title {
                font-weight: bold;
                height: 35px;
                overflow: hidden;
            }

            #address {
                font-size: 22px;
                height: 30px;
                line-height: 1em;
                overflow: hidden;
            }

            #contact {
                margin-top: 1px;
                font-size: 20.5px;
                height: 28px;
                overflow: hidden;
            }
        }

        #arrow {
            @include flex-element(0 0 auto);
            height: 15px;
            width: 15px;
            z-index: 1px;
            position: absolute;
            background-color: transparent;
            border-top: 3px solid $headerBorderColor;
            border-right: 3px solid $headerBorderColor;
            right: 25px;
            top: 60px;
            transform: rotate(45deg);
        }
    }

</style>
