
@import 'Styles/mixins.scss';
@import 'Styles/globals.scss';
@import 'Styles/fonts.scss';
@import 'Styles/reset.scss';


html, body {
    width:100%;
    height:auto;
    background-color: #dae0e6;
    color: $textColor;
    // font-family: 'Roboto';
    // font-size:35px;
    overflow-x: hidden;

    touch-action: manipulation;
}

#root {
    // @include flex(row, center, center, nowrap);
    // @include flex-element(0 0 auto);
}
    
